.project{
    width: 100%;
    position: relative;
    color: rgb(243, 243, 237);
    text-align: center;
    font-size: 2em;
    background-color: rgb(50,50,50);
    padding-bottom: 200px;
}
.project h1{
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.projectgrid {
    display: block;
    margin-left: 15vh;
    margin-right: 15vh;
}

.projectcard {
    position: relative;
    width: 450px;
    border: 2px solid hsla(0, 0%, 100%, 0.8);
    border-radius: 10px;
    margin: 20px;
    margin-bottom: 200px;
}

.projectcard a{
    text-decoration: none;
    font-weight: bold;
    color:rgb(243, 243, 237);
    transition: 0.3s all;
}

.projectcard a:hover{
    color: white;
}

.projectcard p {
    padding: 20px;
}
