@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);
.footer {
    position: absolute;
    left: 0;
    right: 0;
    background-color: #333331;
    padding: 15px;
}
.footer_left {
    position: relative;
    text-align: left;
    font-size: 1em;
    width: auto;
    color: rgb(243, 243, 237);
    float: left;
}

.copyright {
    position: relative;
    text-align: center;
    width: 20%;
    left: 30%;
    margin: auto;
    color: rgb(243, 243, 237);
    padding: 10px;
}

.footer_right {
    position: relative;
    width: auto;
    text-align: right;
    right: 0;
    float: right;
}

.contact {
    padding-right: 30px;
    padding-left: 30px;
}
.contact li{
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
}

.contact li a{
    border-radius: 10px;
    padding: 10px;
    padding-bottom: 5px;
    transition: 0.3s background-color;
}

.contact li a:hover {
    border-radius: 10px;
    background-color:rgb(243, 243, 237);
    color:#333331;
}

.icon:hover {
    color:#333331;
}