.project{
    width: 100%;
    position: relative;
    color: rgb(243, 243, 237);
    text-align: center;
    font-size: 2em;
    background-color: rgb(50,50,50);
    padding-bottom: 200px;
}
.project h1{
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.projectgrid {
    position: relative;
    display: inline-block;
    margin: auto;
}

.projectcard {
    position: static;
    width: 400px;
    border: 2px solid hsla(0, 0%, 100%, 0.8);
    border-radius: 10px;
    margin: 20px;
    margin-bottom: 200px;
    display: inline-block;
}

.projectcard a{
    text-decoration: none;
    font-weight: bold;
    color:rgb(243, 243, 237);
    transition: 0.3s all;
}



.projectcard p {
    padding: 20px;
}

.cardimg {
    border-radius: 8px;
    height: 250px;
}


